swagger: '2.0'
host: hapi-nc.int.nafta.fcagsdp.com
basePath: /
schemes:
    - https
info:
    title: API documentation
    version: 1.1.0
tags: []
paths:
    /v1/notification/richContent:
        get:
            summary: Get all rich content notification templates
            operationId: getV1NotificationRichcontent
            description: 'Get a list of maps, each map contains notification id and last update time<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
            consumes:
                - application/x-www-form-urlencoded
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Import rich content notification templates
            operationId: postV1NotificationRichcontent
            description: 'Import rich content notification templates<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: file
                    description: The uploaded file data
                    x-meta:
                        swaggerType: file
                    in: formData
                    name: file
                    required: true
            consumes:
                - multipart/form-data
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notification/template:
        get:
            summary: Get all notification templates
            operationId: getV1NotificationTemplate
            description: 'Get a list of maps, each map contains notification id, notification short name and notification long name.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
            consumes:
                - application/x-www-form-urlencoded
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Import notification templates
            operationId: postV1NotificationTemplate
            description: 'Import notification templates.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: file
                    description: The uploaded file data
                    x-meta:
                        swaggerType: file
                    in: formData
                    name: file
                    required: true
            consumes:
                - multipart/form-data
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/nonRegisteredVehicles/{vehicleId}/notifications':
        get:
            summary: Get notification for vehicle
            operationId: getV1NonregisteredvehiclesVehicleidNotifications
            description: 'Notification center API is used to get notification config.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: integer
                    description: since
                    minimum: 0
                    name: since
                    in: query
                    required: true
                - 
                    type: integer
                    description: until
                    x-constraint:
                        greater: 'ref:since'
                    name: until
                    in: query
                    required: true
                - 
                    type: integer
                    description: size
                    minimum: 1
                    name: size
                    in: query
                    required: true
                - 
                    type: integer
                    description: page
                    minimum: 1
                    name: page
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Send notification to non registered vehicle
            operationId: postV1NonregisteredvehiclesVehicleidNotifications
            description: "Notification center API is used to create notification.\n\rPlease refer to the following example to send notification:\n\r```\n{\n  \"NotificationId\": \"S16_UCONNECT_ENROLLMENT\",\n  \"Version\": \"1.0\",\n  \"Timestamp\": 1528977275388,\n  \"Timezone\": 330,\n  \"Data\": {\n  \"vehicleProfile\" : {\n    \"make\" : \"Jeep\",\n    \"model\" : \"Cherokee\",\n    \"vin\" : \"VIN0000000123\",\n    \"name\" : \"Jeep\",\n    \"userId\" : \"User12091\",\n    \"licensePlate\":\"A15 1947\",\n    \"emergencyContacts\":\"+12489879090\"\n},\n  \t\"attachments\":[\n  \t\t{\n  \t\t\t\"fileName\": \"file1\",\n  \t\t\t\"content\": [1,2,3,4,5,6,7,8,9,10]\n  \t\t}\n  \t]\n  }\n}```\n<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/notificationNonRegVehicleEvent'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/notification/grouping/{group}':
        get:
            summary: Get group
            operationId: getV1NotificationGroupingGroup
            description: 'Notification center API is used to get group details.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: Group name
                    name: group
                    in: path
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/notification/placeholder/{key}':
        get:
            summary: Export notification placeholders
            operationId: getV1NotificationPlaceholderKey
            description: 'Export notification placeholders<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: key
                    name: key
                    in: path
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        delete:
            summary: Delete notification placeholder by key
            operationId: deleteV1NotificationPlaceholderKey
            description: >-
                Delete all notification placeholders associate with the specified
                key

                <br><b>Allowed scopes:</b> ManageNotifications
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: key
                    name: key
                    in: path
                    required: true
            consumes:
                - application/x-www-form-urlencoded
            tags:
                - notification center
            responses:
                '204':
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notifications/self/config:
        get:
            summary: Get configuration for user
            operationId: getV1NotificationsSelfConfig
            description: 'Notification center API is used to get the config of the logged in user.<br><b>Allowed scopes:</b> SelfManage'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        patch:
            summary: "Create\\Update notification configuration of a user"
            operationId: patchV1NotificationsSelfConfig
            description: 'Create or update notification configurations of the main contact of logged in user.<br><b>Allowed scopes:</b> SelfManage'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    in: body
                    name: body
                    schema:
                        type: array
                        $ref: '#/definitions/Model 18'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/notifications':
        get:
            summary: Get notification for user
            operationId: getV1UsersUseridNotifications
            description: 'Notification center API is used to get notification config.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: integer
                    description: since
                    minimum: 0
                    name: since
                    in: query
                    required: true
                - 
                    type: integer
                    description: until
                    x-constraint:
                        greater: 'ref:since'
                    name: until
                    in: query
                    required: true
                - 
                    type: integer
                    description: size
                    minimum: 1
                    name: size
                    in: query
                    required: true
                - 
                    type: integer
                    description: page
                    minimum: 1
                    name: page
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Send notification to user
            operationId: postV1UsersUseridNotifications
            description: "Notification center API is used to create notification\n\rPlease refer to the following example to send notification:\n\r```\n{\n  \"NotificationId\": \"S16_UCONNECT_ENROLLMENT\",\n  \"Version\": \"1.0\",\n  \"Timestamp\": 1528977275388,\n  \"Timezone\": 330,\n  \"Data\": {\n  \t\"attachments\":[\n  \t\t{\n  \t\t\t\"fileName\": \"file1\",\n  \t\t\t\"content\": [1,2,3,4,5,6,7,8,9,10]\n  \t\t}\n  \t]\n  }\n}```\n<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/userNotificationEvent'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/vehicles/{vehicleId}/notifications':
        get:
            summary: Get notification for vehicle
            operationId: getV1VehiclesVehicleidNotifications
            description: 'Notification center API is used to get notification config.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: integer
                    description: since
                    minimum: 0
                    name: since
                    in: query
                    required: true
                - 
                    type: integer
                    description: until
                    x-constraint:
                        greater: 'ref:since'
                    name: until
                    in: query
                    required: true
                - 
                    type: integer
                    description: size
                    minimum: 1
                    name: size
                    in: query
                    required: true
                - 
                    type: integer
                    description: page
                    minimum: 1
                    name: page
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Send notification to vehicle
            operationId: postV1VehiclesVehicleidNotifications
            description: "Notification center API is used to create notification.\n\rPlease refer to the following example to send notification:\n\r```\n{\n  \"NotificationId\": \"S16_UCONNECT_ENROLLMENT\",\n  \"Version\": \"1.0\",\n  \"Timestamp\": 1528977275388,\n  \"Timezone\": 330,\n  \"Data\": {\n  \t\"attachments\":[\n  \t\t{\n  \t\t\t\"fileName\": \"file1\",\n  \t\t\t\"content\": [1,2,3,4,5,6,7,8,9,10]\n  \t\t}\n  \t]\n  }\n}```\n<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/notificationEvent'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/nonRegisteredVehicles/{vehicleId}/notifications/{platformResponseId}':
        get:
            summary: Get notification by non registered vehicle and platform
            operationId: getV1NonregisteredvehiclesVehicleidNotificationsPlatformresponseid
            description: 'Notification center API is used to get notification by passing vehicle id and platform id as param.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: string
                    description: Platform Response ID
                    name: platformResponseId
                    in: path
                    required: true
                - 
                    type: string
                    description: Content
                    name: content
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/notifications/users/{userId}/config':
        get:
            summary: Get configuration for user
            operationId: getV1NotificationsUsersUseridConfig
            description: 'Notification center API is used to get notification config by user id.<br><b>Allowed scopes:</b> SelfManage'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        patch:
            summary: "Create\\Update notification configuration of a contact"
            operationId: patchV1NotificationsUsersUseridConfig
            description: 'Create or update notification configurations of a specific contact related to vehicle of a user.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        type: array
                        $ref: '#/definitions/Model 18'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/notifications/{platformResponseId}':
        get:
            summary: Get notification by user and platform
            operationId: getV1UsersUseridNotificationsPlatformresponseid
            description: 'Notification center API is used to get notification status.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Platform Response ID
                    name: platformResponseId
                    in: path
                    required: true
                - 
                    type: string
                    description: Content
                    name: content
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/vehicles/{vehicleId}/notifications/{platformResponseId}':
        get:
            summary: Get notification by vehicle and platform
            operationId: getV1VehiclesVehicleidNotificationsPlatformresponseid
            description: 'Notification center API is used to get notification by passing vehicle id and platform id as param.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: string
                    description: Platform Response ID
                    name: platformResponseId
                    in: path
                    required: true
                - 
                    type: string
                    description: Content
                    name: content
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/nonRegisteredVehicles/{vehicleId}/notifications':
        get:
            summary: Get notification history for user and non registered vehicle
            operationId: getV1UsersUseridNonregisteredvehiclesVehicleidNotifications
            description: 'Notification center API is used to get notification history.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: integer
                    description: since
                    minimum: 0
                    name: since
                    in: query
                    required: true
                - 
                    type: integer
                    description: until
                    x-constraint:
                        greater: 'ref:since'
                    name: until
                    in: query
                    required: true
                - 
                    type: integer
                    description: size
                    minimum: 1
                    name: size
                    in: query
                    required: true
                - 
                    type: integer
                    description: page
                    minimum: 1
                    name: page
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Send notification to user and non registered vehicle
            operationId: postV1UsersUseridNonregisteredvehiclesVehicleidNotifications
            description: "Notification center API is used to create notifications.\n\rPlease refer to the following example to send notification:\n\r```\n{\n  \"NotificationId\": \"S16_UCONNECT_ENROLLMENT\",\n  \"Version\": \"1.0\",\n  \"Timestamp\": 1528977275388,\n  \"Timezone\": 330,\n  \"Data\": {\n  \"vehicleProfile\" : {\n    \"make\" : \"Jeep\",\n    \"model\" : \"Cherokee\",\n    \"vin\" : \"VIN0000000123\",\n    \"name\" : \"Jeep\",\n    \"licensePlate\":\"A15 1947\",\n    \"emergencyContacts\":\"+12489879090\"\n},\n  \t\"name\": \"Jane Doe\",\n  \t\"attachments\":[\n  \t\t{\n  \t\t\t\"fileName\": \"file1.pdf\",\n  \t\t\t\"mimeType\": \"application.pdf\",\n  \t\t\t\"content\": [1,2,3,4,5,6,7,8,9,10]\n  \t\t}\n  \t]\n  }\n}```\n<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/notificationNonRegUserVehicleEvent'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/vehicles/{vehicleId}/nickname':
        get:
            summary: Get nickname for user and vehicle
            operationId: getV1UsersUseridVehiclesVehicleidNickname
            description: 'Get nicknames for user and vehicle.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: userId
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: vehicle ID
                    name: vehicleId
                    in: path
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        patch:
            summary: Update nickname
            operationId: patchV1UsersUseridVehiclesVehicleidNickname
            description: 'Update nickname.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: ETag value
                    name: if-match
                    in: header
                    required: true
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/updateNicknameSchema'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/vehicles/{vehicleId}/notifications':
        get:
            summary: Get configuration for user and vehicle
            operationId: getV1UsersUseridVehiclesVehicleidNotifications
            description: 'Notification center API is used to get notification config.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: integer
                    description: since
                    minimum: 0
                    name: since
                    in: query
                    required: true
                - 
                    type: integer
                    description: until
                    x-constraint:
                        greater: 'ref:since'
                    name: until
                    in: query
                    required: true
                - 
                    type: integer
                    description: size
                    minimum: 1
                    name: size
                    in: query
                    required: true
                - 
                    type: integer
                    description: page
                    minimum: 1
                    name: page
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
        post:
            summary: Send notification to user and vehicle
            operationId: postV1UsersUseridVehiclesVehicleidNotifications
            description: "Notification center API is used to create notifications.\n\rPlease refer to the following example to send notification:\n\r```\n{\n  \"NotificationId\": \"S16_UCONNECT_ENROLLMENT\",\n  \"Version\": \"1.0\",\n  \"Timestamp\": 1528977275388,\n  \"Timezone\": 330,\n  \"Data\": {\n  \t\"name\": \"Jane Doe\",\n  \t\"attachments\":[\n  \t\t{\n  \t\t\t\"fileName\": \"file1.pdf\",\n  \t\t\t\"mimeType\": \"application.pdf\",\n  \t\t\t\"content\": [1,2,3,4,5,6,7,8,9,10]\n  \t\t}\n  \t]\n  }\n}```\n<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/notificationEvent'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/nonRegisteredVehicles/{vehicleId}/notifications/{platformResponseId}':
        get:
            summary: 'Get notification by user, vehicle and platform'
            operationId: getV1UsersUseridNonregisteredvehiclesVehicleidNotificationsPlatformresponseid
            description: 'Notification center api is used to get notification for non registered vehicle.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: string
                    description: Platform Response ID
                    name: platformResponseId
                    in: path
                    required: true
                - 
                    type: string
                    description: Content
                    name: content
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/vehicles/{vehicleId}/notifications/config':
        get:
            summary: Get configuration for user and vehicle
            operationId: getV1UsersUseridVehiclesVehicleidNotificationsConfig
            description: 'Notification center API is used to get notification config.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/vehicles/{vehicleId}/notifications/{platformResponseId}':
        get:
            summary: 'Get notification by user, vehicle and platform'
            operationId: getV1UsersUseridVehiclesVehicleidNotificationsPlatformresponseid
            description: 'Notification center api is used to get notification.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: string
                    description: Platform Response ID
                    name: platformResponseId
                    in: path
                    required: true
                - 
                    type: string
                    description: Content
                    name: content
                    in: query
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/users/{userId}/vehicles/{vehicleId}/services/{serviceName}/notifications/config':
        get:
            summary: Get configuration of service for user and vehicle
            operationId: getV1UsersUseridVehiclesVehicleidServicesServicenameNotificationsConfig
            description: 'Get notification config for a specific service.<br><b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: User ID
                    name: userId
                    in: path
                    required: true
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    type: string
                    description: service name
                    name: serviceName
                    in: path
                    required: true
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notification/grouping:
        post:
            summary: Create group
            operationId: postV1NotificationGrouping
            description: 'Create notification grouping.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    in: body
                    name: body
                    schema:
                        type: array
                        $ref: '#/definitions/notificationGroupingList'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notification/placeholder:
        post:
            summary: Import notification placeholder
            operationId: postV1NotificationPlaceholder
            description: 'Import notification placeholders.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: file
                    description: The uploaded file data
                    x-meta:
                        swaggerType: file
                    in: formData
                    name: file
                    required: true
            consumes:
                - multipart/form-data
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notification/templateConfig:
        post:
            summary: Create Notification Config
            operationId: postV1NotificationTemplateconfig
            description: 'Create notification config<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    in: body
                    name: body
                    schema:
                        type: array
                        $ref: '#/definitions/notificationTemplateConfigList'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notifications/campaigns:
        post:
            summary: Create campaign
            operationId: postV1NotificationsCampaigns
            description: 'Notification center API is used to create campaign id.<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notifications/nonRegisteredUsers:
        post:
            summary: Send notification to non-registered users
            operationId: postV1NotificationsNonregisteredusers
            description: "Notification center API is used to create notification\n\rPlease refer to the following example to send notification to non-registered users:\n\r```\n{\n   \"notificationId\": \"S16_UCONNECT_ENROLLMENT\",\n   \"version\": \"1.0\",\n   \"recipients\": [\n      {\n         \"email\":\"test@a.com\",\n         \"sms\":\"+9725233333\",\n         \"portal\":\"Country_Name/notification\",\n         \"push\": {\n           \"token\":\"cbXINnRK5g4:APA91bHmXHMSA7osp53zVUbHh5eUW1ziJD0I3VECw\",\n           \"client\":\"web\"\n         },\n         \"brand\":\"default\",\n         \"locale\":\"en_US\",\n         \"data\": {\n            \"name\":\"moshe\",\n            \"age\":43,\n         }\n      }\n   ]\n}```\n<br> <b>Allowed scopes:</b> ManageNonRegisteredUsersNotification"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/nonRegisteredUsersNotificationEvent'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 4'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v2/notification/richContent:
        post:
            summary: Import rich content notification templates
            operationId: postV2NotificationRichcontent
            description: 'Import rich content notification templates<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: file
                    description: The uploaded file data
                    x-meta:
                        swaggerType: file
                    in: formData
                    name: file
                    required: true
            consumes:
                - multipart/form-data
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v2/notification/template:
        post:
            summary: Import notification templates
            operationId: postV2NotificationTemplate
            description: 'Import notification templates.<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: file
                    description: The uploaded file data
                    x-meta:
                        swaggerType: file
                    in: formData
                    name: file
                    required: true
            consumes:
                - multipart/form-data
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notification/richContent/filter:
        post:
            summary: Export rich content notification templates
            operationId: postV1NotificationRichcontentFilter
            description: 'Export rich content notification templates<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/exportTemplateFilter'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    /v1/notification/template/filter:
        post:
            summary: Export notification templates
            operationId: postV1NotificationTemplateFilter
            description: 'Export notification templates<br><b>Allowed scopes:</b> ManageNotifications'
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/exportTemplateFilter'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/vehicles/{vehicleId}/ivmAck':
        post:
            summary: Forward IVM ack to notification center
            operationId: postV1VehiclesVehicleidIvmack
            description: "Notification center API used to receive IVM ack.\n\rPlease refer to the following example:\n\r```\n{\n  \"messageId\": \"10002\",\n  \"requestId\": \"956ab281-2f45-11ed-9140-0346e21f0cdc\",\n  \"sessionId\": \"956ab281-2f45-11ed-9140-0346e21f0cdc\",\n  \"sourceDeviceId\": \"TSD100456\",\n  \"correlationId\": \"10001\",\n  \"timestamp\": 1600067892,\n  \"vehicleMessageAck\": {\n  \t\t\t\"vehicleMessageID\": 110021,\n  \t\t\t\"messageReceiptTimestamp\": 1600067892\n  \t\t\t\"failureDiagnostic\": \"failure\"\n  \t\t\t\"status\": \"MESSAGE_STAGED_FOR_DISPLAY\"\n}```\n<br> <b>Allowed scopes:</b> SelfManage,NotificationSupportOwner"
            parameters:
                - 
                    type: string
                    description: Authorized session string
                    name: authorization
                    in: header
                    required: true
                - 
                    type: string
                    description: ClientRequestId
                    name: ClientRequestId
                    in: header
                    required: false
                - 
                    type: string
                    description: SessionId
                    name: SessionId
                    in: header
                    required: false
                - 
                    type: string
                    description: Vehicle ID
                    name: vehicleId
                    in: path
                    required: true
                - 
                    in: body
                    name: body
                    schema:
                        $ref: '#/definitions/ivmAckPayload'
            tags:
                - notification center
            responses:
                '200':
                    schema:
                        $ref: '#/definitions/Model 1'
                    description: Success
                '400':
                    description: Bad request
                '401':
                    description: Authentication failed/ Token is invalid
                '403':
                    description: Requested user and device is not associated/ Insufficient scope
                '404':
                    description: Requested resource not found
                '408':
                    description: Request Timeout
                '415':
                    description: Unsupported media type
                '500':
                    description: Internal Service failure
                '503':
                    description: Service unavailable
                '504':
                    description: Gateway Timeout
    '/v1/vehicles/{vehicleId}/ivmResponse':
        post:
            summary: Forward IVM Response to notification center
            operationId: postV1VehiclesVehicleidIvmresponse
[...]
